*{
    font-style: sans-serif;

}
header {
    background-color: gray;
    border-color:black ;
    text-align: left;
    border-style: solid;
    text-align: left;
    display: flex;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
}
li {
    text-decoration: none;
}

.nav {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: left;
    color: #34495e;
    font-size: .99em;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: x-large;
    
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav a:hover {
    background-color: ;
    color: ;
    border-style: solid;
    
}

.logo {
    margin-left: auto;
}