*{
    font-style: sans-serif;

}
body{
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}
header {
    background-color: gray;
    border-color:black ;
    text-align: left;
    text-align: left;
    display: flex;
    border-radius: 10px;
    align-items: stretch;
}

.logo {
    margin-right: auto;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    display: flex;
    gap: 30px;
}

li {
    text-decoration: none;
    
}
li:hover{
    border-style: solid;
    color: black;
}
.nav ul {
    display: flex;
}
.logo{
    margin-left: auto;
}

.nav {
    list-style: none;
    padding: 0px 15px;
    text-align: left;
    color: #34495e;
    font-size: .99em;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: x-large;
    vertical-align: auto;
    align-items: center;
    text-decoration: none;

    
}
.nav a{
    text-decoration: none;
    color: black;
    display: flex;
    margin-left: auto;
}


footer{
    bottom: 0;
    left: 0;
    align-self: baseline;
    margin-top: auto;
    background-color: gray;
}
main {
    flex: 1;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;
}
textarea{
    color: gray;
}
form {
    display: grid;
    vertical-align:middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    

}
button {
    background-color: gray;
    border: solid;
    border-color: black;
    color: white;
    display: flex;
}
h3 {
    text-align: left;
}

.form {
    max-width: 300px;
    padding: 15px;
    align-items: center;
    max-height: 300px;
    border-radius: 20px;
}